# User Specific Files
*.suo
*.user
*.exe
*.cbp
*.layout
*.o
*.depend
*.userosscache
*.sln.docstates
main.cpp

# Visual Studio 2015 cache/options directory
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Java Compiled class file
*.class
*.classpath
*.project

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Extra Directory Created by Eclipse
.settings/
.bin/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
