<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SesionRedirect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- For the CallerSevlet Servlet file -->
  <servlet>
  	<servlet-name>name</servlet-name>
  	<servlet-class>com.Session.CallerServlet</servlet-class>
  </servlet>
  
  <!-- Calling the file when /add is incurred in the URL -->
  <servlet-mapping>
  	<servlet-name>name</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  <!-- For calling the SqServlet file -->
  <servlet>
  	<servlet-name>sqName</servlet-name>
  	<servlet-class>com.Session.SqServlet</servlet-class>
  </servlet>
  
  <!-- Calling the file when /sq is incurred in the URL -->
  <servlet-mapping>
  	<servlet-name>sqName</servlet-name>
  	<url-pattern>/sq</url-pattern>
  </servlet-mapping>
</web-app>