@media (max-width:1900px){}
@media (max-width:1200px){}
@media (max-width:1199px){}
@media (max-width:991px){}
@media (max-width:768px){}
@media (max-width:767px){}
@media (max-width:640px){}
@media (max-width:480px){}
@media (max-width:360px){}
@media (max-width:320px){}



@media (min-width:320px){}
@media (min-width:360px){}
@media (min-width:480px){}
@media (min-width:640px){}
@media (min-width:767px){}
@media (min-width:768px){}
@media (min-width:991px){}
@media (min-width:1199px){}
@media (min-width:1200px){}
@media (min-width:1900px){}









