@charset "utf-8";
/*Start: Reset CSS*/
*{ margin: 0; padding: 0; border: 0; outline: 0}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, hr, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
em { font-style: italic; }
a { text-decoration: none; cursor: pointer; }
a:hover { text-decoration: none; }
html { height: 100%; overflow-y: scroll; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
.clear { clear: both; font-size: 1%; height: 0; line-height: 0; display: block; width: 0; }
html[xmlns] .clearfix { display: block; }
input:disabled {
	cursor:not-allowed;
}
/*END: Reset CSS*/
